body {
    font-family: 'Arial', sans-serif;
    background-color: #f5f5f5;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
}

.score-panel {
    text-align: center;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin: 10px; /* Add margin between the panels */
}

.score-panel h2 {
    margin-bottom: 10px;
}

.score {
    font-size: 18px;
}

.game-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%;
    max-width: 800px;
    margin-top: 20px; /* Add margin to the top of the game container */
}

.panel {
    flex: 1;
    text-align: center;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin: 10px; /* Add margin between the panels */
}

.choices {
    margin: 20px 0;
}

button {
    background: none;
    border: none;
    cursor: pointer;
}

img {
    width: 100px; /* Set the width of the images */
    height: auto; /* Maintain aspect ratio */
}

#result {
    font-size: 18px;
    font-weight: bold;
    margin-top: 20px;
}

.computer-choice-container {
    margin-bottom: 20px;
}

#computer-choice-img img {
    width: 100px;
    height: auto;
    border: 2px solid transparent; /* Initial border style */
}

#computer-choice-img img.selected {
    border: 2px solid red;
}

.choices button.selected {
    border: 5px solid black;
}

